.text-align-center {
	font-family:sans-serif;
	text-align: center;
	color:#58D3F7;
	font-size: 20px;
	padding:100px;

}
.formDefault{	
	display:none;
}

.complex-network-style{
	display: block; /* Safari */
    text-align: center;
    align-content: center;
    border:0.3 em;
    border-color: #FFFFFF;

}

